/* Testimonial style2 */

.testimonial2-style .slide{
	background:#fff;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.05);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.05);
	box-shadow: 0 0 10px rgba(0,0,0,.05);
}
.testimonial2-style .owl-item{padding-top:50px;padding-bottom:10px;}
.testimonial2-style .slide .testi-thumb{ margin: -50px auto 0; width: 100px;}
.testimonial2-style .slide .testi-thumb .testimonial-image{border-radius: 50%;}
.testimonial2-style .slide .testimonial-content {margin:0 0 20px;}
.testimonial2-style .slide .testimonial-author{margin:20px 0 0;}

/* Testimonial style3 */

.testimonial3-style .slide{
	background:#fff;
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,.1);
	-moz-box-shadow: 0 0 15px rgba(0,0,0,.1);
	box-shadow: 0 0 15px rgba(0,0,0,.1);
	padding-top:50px;
	padding-bottom:75px;
}
.testimonial3-style .owl-item{padding-top:50px;padding-bottom:10px;}
.testimonial3-style .slide .testi-thumb{ margin: 0 auto; width: 100px;display:inline-block;}
.testimonial3-style .slide .testi-thumb .testimonial-image{border-radius: 50%;border:1px solid #eee;}
.testimonial3-style .slide .testimonial-content {margin:0;padding:20px 10% 20px;}
.testimonial3-style .slide .testimonial-content .testimonial-quote{font-style:italic;font-weight:300;}
.testimonial3-style .slide .author-details{display:inline-block;padding-left:90px;position: relative;top:15px;text-align:left;}
.testimonial3-style .slide .author-details:before{
	content:"\e64b";
	border-right: 1px solid #dcdff1;
    display: block;
	color:#dcdff1;
    font-family: Pe-icon-line;
    font-size: 33px;
    left: 25px;
    line-height: 53px;
    margin-left: 0;
    padding-right: 15px;
    position: absolute;
    text-align: left;
}
.testimonial3-style .slide .testimonial-author{margin:5px 0 0;}
.testimonial3-style .owl-dots{margin:0 -3px 0;bottom:65px;position:absolute;left:0;right:0;}
.testimonial3-style .owl-dot{padding:0 3px;display:inline-block;}
.testimonial3-style .owl-dot span{
	width:10px;
	height:10px;
	border-radius:50%;
	background:#eee;
	display:block;
}

/* Testimonial style4 */

.testimonial4-style .slide{
	background:#fff;
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,.1);
	-moz-box-shadow: 0 0 15px rgba(0,0,0,.1);
	box-shadow: 0 0 15px rgba(0,0,0,.1);
	padding-top:50px;
	padding-bottom:75px;
	position:relative;
	text-align:left;
}
.testimonial4-style .owl-item{padding:10px 0 30px 50px;}
.testimonial4-style .slide .testi-thumb{	margin: 0 auto; width: 100px;display:inline-block;position:absolute;left:-50px;}
.testimonial4-style .slide .testi-thumb .testimonial-image{
	border-radius: 50%;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.10);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.10);
	box-shadow: 0 0 10px rgba(0,0,0,.10);
	}
.testimonial4-style .slide .testimonial-content {margin:20px 0 0;padding-bottom:0;text-align:left;}
.testimonial4-style .slide .author-details{display:inline-block;padding-left:120px;position: relative;top:15px;text-align:left;}
.testimonial4-style .slide .author-details:before{
	content:"\e64b";
	border-right: 1px solid #dcdff1;
    display: block;
	color:#dcdff1;
    font-family: Pe-icon-line;
    font-size: 33px;
    left: 55px;
    line-height: 53px;
    margin-left: 0;
    padding-right: 15px;
    position: absolute;
    text-align: left;
}
.testimonial4-style .slide .testimonial-author{margin:5px 0 0;}
.testimonial4-style .owl-dots{margin:0 -3px 0;}
.testimonial4-style .owl-dot{padding:0 3px;display:inline-block;}
.testimonial4-style .owl-dot span{
	width:10px;
	height:10px;
	border-radius:50%;
	background:#eee;
	display:block;
}